
body {
  min-height: 120vh;
  margin: 0;
  padding: 0;
  display: flex; /* Enable flexbox on body for full viewport centering */
  flex-direction: column; /* Stacks divs vertically */
}

.fixed-background {
  position: fixed; /* Keeps the background fixed */
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh; /* Fills viewport height */
  background: linear-gradient(to bottom, #f9d423, #f83600); 
  z-index: -1; /* Ensures background is behind content */
}

.svg-image {
  position: absolute; /* Absolute positioning for bottom left */
  bottom: 0; /* Align to bottom edge */
  opacity: 40%;
}


.container {
  display: flex; /* Enable flexbox for arranging divs within container */
  flex-direction: column; /* Stacks divs vertically */
  
}


.card {
  padding: 10px;
}


#center {
  display: flex;
  justify-content: center;
}


#logosize{

  max-width: 40%;
  max-height: 100vh;
  margin: auto;
  position: absolute; /* Absolute positioning for bottom left */
  justify-content: center;
}






.regular-content {
  width: 75%; /* Adjust width as needed */
  height: 60vh;
  margin: 0 auto; /* Centers horizontally */
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  
  margin-bottom: 30px;
  padding: 2rem; 
  
  display: column;
  justify-content: center;
  
}




.logo-content{
  width: fit-content; /* Adjust width as needed */
  max-width: 80%; /* Set a maximum width for responsiveness */
  margin: 0 auto; /* Centers horizontally on all screen sizes */
  padding: 20px; /* Add padding as needed */
  margin-top:300px;
  width: 900px;
}

#appear-on-scroll {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  position: relative;  /* Needed for pseudo-element positioning */
  
}

#appear-on-scroll::before {
  height: 50vh;
  content: "";
  display: block;
  position: absolute;  /* Absolute positioning within the div */
  top: 0;
  left: 0;
  width: 100%;  /* Match the div width */
 /* Adjust height to push content further */
}

#scrollscale{
  width: 55px;
  left: 46%;
  bottom: 25%;
  animation: shake 3.0s linear infinite;  /* Start animation on page load */
}

@keyframes shake {
  0% { transform: translateY(0); }
  25% { transform: translateY(-5px); }
  50% { transform: translateY(10px); }
  75% { transform: translateY(-5px); }
  100% { transform: translateY(0); }
}


h1{
  font-family: "Lato", sans-serif;
  text-align: left;
}

h3{
  font-family: "Lato", sans-serif;
  text-align: left;
}

.image-container{
  margin: 0 auto; /* Centers horizontally */
  background-color: #fff;
  border-radius: 10px;
  margin-bottom: 30px;
  padding: 2rem;
  justify-content: center;
  background-image: url("./img/diva.JPG");
  background-size: cover;
  background-position: center;  /* Example: Centers the image */
  width: 80%;  /* Adjust this value to change the width */
  height: 50%;
}


.logo-container{
  display: flex;
  margin: 0 auto; /* Centers horizontally */
  background-color: #fff;
  border-radius: 10px;
  margin-bottom: 30px;
  padding: 2rem;
  justify-content: center;
  background-size: cover;
  background-position: center;  /* Example: Centers the image */
  width: 80%;  /* Adjust this value to change the width */
  height: 50%;
}


.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(7, auto);
  gap: 10px;
}

.grid-container img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 5px;
}

.brandsbox{
  width: 75%; /* Adjust width as needed */
  
  margin: 0 auto; /* Centers horizontally */
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  
  margin-bottom: 30px;
  padding: 2rem; 
  
  display: column;
  justify-content: center;
}


h2 {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
}

label { 
  font-family: "Lato", sans-serif;
  text-align: left;
}


form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.options-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Two columns */
  grid-gap: 5px;
}

.option-button {
  background-color: #ddd; /* Default color */
  color: #333;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.option-button.selected {
  background-color: #ed52d9; /* Green on selection */
  color: white;
}


input {
    outline: 0;
    background: rgb(255, 225, 248);
    width: 90%;
    border: 0;
    padding: 15px;
    border-radius: 5px;
}

h4{
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.form-container {
  width: 75%; /* Adjust width as needed */
  margin: 0 auto; /* Centers horizontally */
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  
  margin-bottom: 30px;
  padding: 2rem; 
  
  display: column;
  justify-content: center;
  
}


.submit-btn {
  background-color: #fcb931; /* Green color */
  color: white;
  padding: 10px 20px; /* Adjust padding */
  border: none;
  border-radius: 5px;
  cursor: pointer; /* Indicate clickable action */
  transition: background-color 0.2s ease-in-out; /* Smoother hover effect */
}

.submit-btn:hover {
  background-color: #aa921b; /* Darker green on hover */
}


#progress-container {
  display: none; /* Initially hidden */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3); /* Semi-transparent background */
  z-index: 999; /* Ensure it's displayed above other elements */
  justify-content: center;
  align-items: center;
}

.progress-circle {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 10px solid #f3f3f3; /* Light gray border */
  border-top-color: #ed52d9; /* Blue color for the moving part */
  margin: auto;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}