
body {
  min-height: 120vh;
  margin: 0;
  padding: 0;
  display: flex; /* Enable flexbox on body for full viewport centering */
  flex-direction: column; /* Stacks divs vertically */
}

.fixed-background {
  position: fixed; /* Keeps the background fixed */
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh; /* Fills viewport height */
  background: linear-gradient(to bottom, #f9d423, #f83600); /* Replace with your colors */
  z-index: -1; /* Ensures background is behind content */
}

.svg-image {
  position: absolute; /* Absolute positioning for bottom left */
  bottom: 0; /* Align to bottom edge */
  opacity: 50%;
}


.container {
  display: flex; /* Enable flexbox for arranging divs within container */
  flex-direction: column; /* Stacks divs vertically */
  
}


.card {
  padding: 10px;
}


#center {
  display: flex;
  justify-content: center;
}


#logosize{

  max-width: 40%;
  max-height: 100vh;
  margin: auto;
  position: absolute; /* Absolute positioning for bottom left */
  justify-content: center;
}






.regular-content {
  width: 50%; /* Adjust width as needed */
  margin: 0 auto; /* Centers horizontally */
  padding: 20px; /* Add padding as needed */
  background-color: #fff;
  margin-top:20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: 2rem;
}




.logo-content{
  width: fit-content; /* Adjust width as needed */
  max-width: 80%; /* Set a maximum width for responsiveness */
  margin: 0 auto; /* Centers horizontally on all screen sizes */
  padding: 20px; /* Add padding as needed */
  margin-top:300px;
  width: 900px;
}

#appear-on-scroll {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  position: relative;  /* Needed for pseudo-element positioning */
  
}

#appear-on-scroll::before {
  height: 50vh;
  content: "";
  display: block;
  position: absolute;  /* Absolute positioning within the div */
  top: 0;
  left: 0;
  width: 100%;  /* Match the div width */
 /* Adjust height to push content further */
}

#scrollscale{
  width: 55px;
  left: 46%;
  bottom: 5%;
  animation: shake 3.0s linear infinite;  /* Start animation on page load */
}

@keyframes shake {
  0% { transform: translateX(0); }
  25% { transform: translateX(-5px); }
  50% { transform: translateX(10px); }
  75% { transform: translateX(-5px); }
  100% { transform: translateX(0); }
}